<link rel="stylesheet" href="/css/home_page.css">
        <Section>
                <!-- <section> -->
                <section id="jobs">
                        <h1>Jobs</h1>
                        <div id="">
                                <ul>
                                        <%  for(var i of jobs ){ %>
                                                <li>
                                                        <a href="recruiter/jobpost/description/<%= i._id %>">
                                                        <p><%= i.position %></p>
                                                        </a>
                                                        <p><%= i.recruiter.companyname %></p>
                                                        <p><%= i.content %></p>
                                                        <!-- <a href="recruiter/jobpost/description/<%= i._id %>/apply"> -->
                                                        <!-- <button>apply</button>
                                                         -->
                                                        
                                                        </a>
                                                </li>
                                        <% } %>
                                </ul>
                        </div>

                        </section>
        </Section>
   


